
/** A touch of normalization CSS (from normalize.css) */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    border-style: none;
}

button,
input {
    font-family: inherit; 
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/** Application CSS */
.container {
    padding: 0px 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 10px 0;
}

.search-result-row {
    display: flex;
    flex-direction: row;
    height: 90px;
}

.error-text {
    font-size: 0.9em;
    color: #dc3545;
}